<p id="notice"></p>
<div class="container">
 <div class="row">
   <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
     <h2>Editing Book</h2>
     <form>
      <div class="form-group">
       <label for="book_title">Title</label>
       <input class>
      </div>
      <div>
       <label for="book_opinion">Opinion</label>
       <textarea class="form-control introduction" name="user[introduction]" id="user_introduction"></textarea>
      </div>
      <div>
       <input type="submit" name="commit" value="Update User" class="btn btn-secondary" data-disable-with="Update User">
      </div>
     </form>
    </div>
  </div>
</div>